<section class="profile-area" id="profile">
    <div class="text-part">

        <div class="glob-intro">
            <img class="profile-image" [src]="profileImage" alt="profile_image"/>
            <div class="intro">
                <p class="bienvenue">Bienvenue</p>
                <p><strong>Ruddy MONLOUIS</strong></p>
<!--                <p>Etudiant en <em>M1 MIAGE Ingénierie Métier</em> à l'<em>université Toulouse 1 Capitole</em>.</p>-->
                <p>DevOps Junior</p>
                <div>
                    <a class="face-button" [href]="cvUrl" target="_blank" rel="noreferrer">

                        <div class="face-primary">
                            <span class="material-icons-outlined">
                                download
                                </span>
                            curriculum vitæ
                        </div>

                        <div class="face-secondary">
                            <span class="material-icons-outlined">
                                save
                                </span>
                            1.11 mo
                        </div>

                    </a>
                </div>
            </div>
        </div>

            <div class="projet">
            <p>Volontaire, rigoureux et en quête de nouveaux challenges.</p>
            </div>


    </div>
</section>
