<section class="contact-area" id="contact">
    <div class="text-part">
        <h1>Contact</h1>
        <ul class="contact-choice">
            <li>
                <div>
                    <a title="+33 (0)7 63 97 99 54" href="tel:+33763979954">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <!-- <span class="material-icons-outlined">phone</span> -->
                        <!-- <FaPhoneAlt/> -->
                    </a>
                </div>
                <span>Téléphone</span>
            </li>
            <li>
                <div>
                    <a href="mailto:r.monlouis@gmail.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <!-- <FaEnvelope/> -->
                    </a>
                </div>
                <span>E-mail</span>
            </li>
            <li>
                <div>
                    <a href="https://www.linkedin.com/in/ruddymonlouis/" target="_blank" rel="noreferrer">
                        <!-- <FaLinkedinIn/> -->
                    </a>
                </div>
                <span>LinkedIn</span>
            </li>
        </ul>
    </div>
</section>