<nav [ngClass]="stickyNavBar ? 'NavbarItems sticky' : 'NavbarItems'" class="NavbarItems" >
    <div (click)="handleClick()" class="menu-icon">
        <rmx-icon name="{{ activeMenu ? 'close-fill' : 'menu-4-fill' }}"></rmx-icon>
    </div>
    <ul id="nav-menu" [ngClass]="activeMenu ? 'nav-menu active' : 'nav-menu'">
        <li *ngFor="let item of menuItems">
            <a class="nav-links" (click)="handleClick()" [href]="item.url">{{ item.title }}</a>
        </li>
        <div class="theme-switch">
            <rmx-icon (click)="switchMode()" name="{{ darkMode ? 'toggle-line' : 'toggle-fill' }}"></rmx-icon>
        </div>
    </ul>
</nav>